<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="uni.dcloud.io.uniplugin_module">

    <application>
        <activity xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools"
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:node="merge" />
        <provider
            android:name="com.mob.MobProvider"
            android:authorities="${applicationId}.com.mob.MobProvider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
